name: evlaformer
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - numpy
  - pip
  - pip:
    - h5py
    - protobuf
    - grpcio
    - grpcio-tools
    - matplotlib
    - networkx  # For Graph World Model